{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<div class="container">
     <!-- Looping through award -->
     {% for project in projects %}
     <div class="row">
           <!-- displaying award -->
        <div class="col--xs-6 col-sm-6 col-md-6 col-lg-6">
           <h1 class="text-center" >WELCOME TO AWWARDS, THE BEST PLACE TO BE</h1> 
        </div>
         <!-- Display award project images -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-top:3%;">
         <img src="{{project.project_image.url}}"  class="img-responsive" alt="Image">
         <a href="{{project.project_link}}" class="btn btn-success" target="_blank">View project</a>
        </div>
     </div>
     <div class="row">
      <p class="text-center"><strong>Author: </strong> {{ project.user.username}} </p>
     </div>
     <div class="modal-body" style="text-align:center">

      <p1 id="imageCaption">{{ project.caption }}</p1>
      </div>
      <div class="modal-footer">
        
    </div>
            {% endfor %}
</div>
{% endblock %}