{% load bootstrap3 %}
{% load static %}

<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<nav class="navbar navbar-inverse" >
  <div class="container-fluid">
    <div class="navbar-header  ">
      <div class="dropdown">
            <a class="navbar-brand " >MENU</a>     
            <div class="dropdown-content">
              <a href="{% url 'home' %}">Home</a>
              <a href="#">Blog</a>
              <a href="#"> About</a>
            </div>
          </div>
    </div>
  </div>
</nav>
<style>
  .menu {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}
</style>
</body>
</html>