{%extends 'base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-3" style="text-align: right;">
      
    </div>
    <div class="col-md-6">

      <div class="card" style="margin-top:7%;padding-left: 10%;border-radius:3%;">

        <div class="card-heading text-center">
          <h1>{{message}}</h1>
          {%if message%}
          <strong>
            <p class="text-secondary" style="font-size:17px;">{{message}} To be able to post and view other projects</p>
          </strong>
          {%else%}
          <strong>
            <p class="text-secondary" style="font-size:17px;">Login</p>
          </strong>
          {%endif%}
        </div>
        <form class="card-body uniForm" method="post" novalidate>
          {% csrf_token%}
          {{ form|crispy}}


          <div class="form-group" style="margin-top:5%;">
            {%if name%}
            <input type="submit" class="btn btn-primary btn-sm" value="{{name}}">
            <p>Already have an account? <a href="{%url 'login'%}"">Login</a></p>
            {%else%}
            <input type="submit" class="btn btn-primary btn-sm" value="Login">
            <p>Don't have an account? <a href="{%url 'signup'%}">Sign Up</a></p>
            {%endif%}
          </div>

          <input type="hidden" name="next" value="{{next}}">

        </form>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-3"></div>
  </div>
</div>

{% endblock %}